/* Estilos generales */
body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Tema claro */
  .light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Tema oscuro */
  .dark-theme {
    --background-color: #000000;
    --text-color: #ffffff;
  }
  
  /* Aplicar variables CSS */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  